body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
table, th, td {
    border:1px solid black;
  }
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#guides-list {
    margin-top: 20px;
}

.guide-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}
